.app {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1200px;
}
.title {
  margin: 0;
  color: #cdb1ea;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
}
.wrapper {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  &__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
  }
}

.info {
  margin-top: 25px;
  color: #444;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  span {
    color: #cdb1ea;
  }
}
