.app {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1200px;
}
.title {
  margin: 0;
  color: rgba(179, 131, 226, 0.6);
  text-align: center;
  font-size: 100px;
  font-weight: 600;
}
.wrapper {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  justify-content: start;
  &__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
  }
}
