.list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  width: 100%;
  list-style: none;
  background-color: #ffffff;
  gap: 10px;
  border-top: 1px solid #e5e5e5;
  transition: 0.2s;
  &__info {
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 5px;
    cursor: pointer;
  }
  &__title {
    color: #444;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
  }
  &__descr {
    color: #959595;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
  }
  &__btns {
    display: flex;
    gap: 10px;
  }
  &__btn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    transition: 0.2s;
    &:has(.fa-star):hover {
      background: #f6eeff;
    }
    &:has(.fa-trash):hover {
      background: #ffd9d9;
    }
  }
  &:hover {
    background-color: #f7f7f7;
  }
  &:focus {
    outline: #f7f7f7;
  }
  &_fav {
    .list-item {
      &__title,
      &__descr {
        color: #cdb1ea;
      }
      &__btn {
        &:has(.fa-star) {
          background: #f6eeff;
        }
      }
    }
  }
  &_finish {
    background-color: #f7f7f7;
    .list-item {
      &__title,
      &__descr {
        color: #d5d5d5;
      }
      &__title {
        text-decoration: line-through;
      }
      &__btn {
        &:has(.fa-star),
        &:has(.fa-star):hover {
          cursor: auto;
          background: #ececec;
          .fa-star,
          .fa-trash {
            color: #d5d5d5;
          }
        }
      }
    }
  }
}
.fa-star {
  color: #cdb1ea;
}
.fa-trash {
  color: #ff6262;
}
