.list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  width: 100%;
  list-style: none;
  border-radius: 0.25rem;
  border: 1px solid #404040;
  background: #262626;
  transition: 0.2s;
  &__info {
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 0.25rem;
    cursor: pointer;
  }
  &__title {
    color: #f7f7f7;
    font-size: 1rem;
    font-weight: 500;
    word-wrap: break-word;
  }
  &__descr {
    color: #f7f7f7;
    font-size: 0.75rem;
    font-weight: 400;
    word-wrap: break-word;
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  &__btn {
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    transition: 0.2s;
  }
  &_fav {
    background: linear-gradient(
      90deg,
      rgba(255, 175, 188, 1) 0%,
      rgba(255, 195, 160, 1) 100%
    );
  }
  &_finish {
    background: #4d4d4d;
    .list-item {
      &__title,
      &__descr {
        color: #d4d4d4;
      }
      &__title {
        text-decoration: line-through;
      }
      &__btn {
        &:has(.fa-star),
        &:has(.fa-star):hover {
          cursor: auto;
          .fa-star,
          .fa-trash {
            color: #d4d4d4;
          }
        }
      }
    }
  }
}
.fa-star {
  color: #f7f7f7;
}
.fa-trash {
  color: #f7f7f7;
}
