.app-filter {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  &__btn {
    display: inline-flex;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #404040;
    background: #262626;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.4s;
    cursor: pointer;
    &:hover,
    &_active {
      background: linear-gradient(
        90deg,
        rgba(255, 175, 188, 1) 0%,
        rgba(255, 195, 160, 1) 100%
      );
    }
  }
}
