* {
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

body {
  margin: 0;
  background-color: #111010;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Geist";
  font-weight: 400;
  src: local("Geist"), url(./fonts/Geist-Regular.woff2) format("opentype");
}

@font-face {
  font-family: "Geist";
  font-weight: 500;
  src: local("Geist"), url(./fonts/Geist-Medium.woff2) format("opentype");
}
